<div class="contact-details">
    <h2>New Contact</h2>
    <form (ngSubmit)="saveContact()" #contactForm="ngForm">
        <div class="contact-header">
            <!-- <div class="contact-image-container">
                <img [src]="contact.Image" alt="{{ contact.Name }} Image" class="contact-image">
            </div> -->

        </div>
        <div class="contact-info">
            <div class="contact-item">
                <input type="text" name="Name" [(ngModel)]="contact.Name" required placeholder="Name">
            </div>
            <div class="contact-item">
                <i class="fas fa-map-marker-alt"></i>
                <input type="text" name="Address" [(ngModel)]="contact.Address" required placeholder="Address">
            </div>
            <div class="contact-item">
                <i class="far fa-envelope"></i>
                <input type="email" name="Email" [(ngModel)]="contact.Email" required placeholder="Email">
            </div>
            <div class="contact-item">
                <i class="fas fa-phone"></i>
                <input type="tel" name="PhoneNumber" [(ngModel)]="contact.PhoneNumber" required
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone (xxx-xxx-xxxx)">
            </div>
            <div class="contact-item">
                <i class="fas fa-mobile-alt"></i>
                <input type="tel" name="Cell" [(ngModel)]="contact.Cell" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                    placeholder="Cell (xxx-xxx-xxxx)">
            </div>
            <div class="contact-item">
                <i class="far fa-calendar-alt"></i>
                <input type="date" name="RegistrationDate" [(ngModel)]="contact.RegistrationDate" required>
            </div>
            <div class="contact-item">
                <i class="fas fa-birthday-cake"></i>
                <input type="text" name="Age" [(ngModel)]="contact.Age" required placeholder="Age">
            </div>
        </div>
        <div class="contact-actions">
            <button type="submit">Save</button>
        </div>
    </form>
</div>