<form [formGroup]="contactForm">
    <div *ngIf="contact" class="contact-details">
        <div class="action-icons">
            <button (click)="goBack()" class="back-button">
                <i class="fas fa-arrow-left"></i>
            </button>
            <button (click)="toggleEditMode()" class="edit-button">
                <i class="fas fa-edit"></i>
            </button>
            <button (click)="onDeleteClick()" class="delete-button">
                <i class="fas fa-trash"></i>
            </button>
        </div>
        <div class="contact-header">
            <div class="contact-image-container">
                <img [src]="contact.Image" alt="{{ contact.Name }} Image" class="contact-image">
            </div>
            <div class="contact-name">{{ contact.Name }}</div>
        </div>
        <div class="contact-info">
            <div class="contact-item">
                <i class="fas fa-map-marker-alt"></i> Address:
                <input type="text" name="Address" formControlName="Address" required placeholder="Address">
            </div>
            <div class="contact-item">
                <i class="far fa-envelope"></i> Email:
                <input type="text" name="Email" formControlName="Email" required placeholder="Email">
                <div *ngIf="contactForm.get('Email')?.hasError('email') && contactForm.get('Email')?.touched"
                    class="error-message">
                    Invalid email address.
                </div>
            </div>
            <div class="contact-item">
                <i class="fas fa-phone"></i> Phone:
                <input type="text" name="PhoneNumber" formControlName="PhoneNumber" placeholder="Phone">
                <div *ngIf="contactForm.get('PhoneNumber')?.hasError('pattern') && contactForm.get('PhoneNumber')?.touched"
                    class="error-message">
                    Invalid phone number
                </div>
            </div>
            <div class="contact-item">
                <i class="fas fa-mobile-alt"></i> Cell:
                <input type="text" name="Cell" formControlName="Cell" placeholder="Cell">
                <div *ngIf="contactForm.get('Cell')?.hasError('pattern') && contactForm.get('Cell')?.touched"
                    class="error-message">
                    Invalid cell number
                </div>
            </div>
            <div class="contact-item">
                <i class="far fa-calendar-alt"></i> Date Added:
                <input type="text" name="RegistrationDate" formControlName="RegistrationDate" required
                    placeholder="RegistrationDate">
            </div>
            <div class="contact-item">
                <i class="fas fa-birthday-cake"></i> Age:
                <input type="text" name="Age" formControlName="Age" required placeholder="Age">
            </div>
        </div>

        <div class="contact-actions-save">
            <button *ngIf="editMode" (click)="saveContact()">Save</button>
        </div>
    </div>
</form>
<app-confirmation-modal *ngIf="showConfirmationModal" [message]="'Are you sure you want to delete this contact?'"
    (confirmed)="onConfirmation($event)"></app-confirmation-modal>