.action-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    position: relative;
    top: -13px;
    margin-right: 8px;
}

.edit-button, .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 8px;
    color: #007bff;
}

.edit-button:hover, .delete-button:hover {
    color: #0056b3;
}

.contact-details {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 16px;
    max-width: 100%;
    margin: 0 auto;
    align-items: flex-start;
}

.contact-detail {
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
}


.contact-item {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
}

.contact-item i {
    margin-right: 8px;
    font-size: 18px;
    color: #007bff;
}

.contact-item input[type="text"] {
    flex: 1;
    align-items: flex-start;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

.contact-actions {
    text-align: center;
    margin-top: 16px;
}

@media (min-width: 768px) {
    .contact-details {
        max-width: 400px; 
    }

    .contact-item input[type="text"] {
        margin-top: 0;
    }
}
